body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    color: orangered;
}
.h1-tag{
    color: rgb(206, 59, 6);
}
section{
    display: flex;
    padding-left: 20px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.short-span{
    color:olive;
    font-size: 25px;
}
.frist-section{
    width: 50%;

}
.frist-section img{
    width: 100%;
}

.anchor-section-1{
    text-decoration: none;
    background-image: linear-gradient(to bottom right,blue, cyan);
    padding: 14px 25px;
    text-align: center;
    border-radius: 10px;
    color: paleturquoise;
}
.second-section{
    display: flex;
padding-left: 30px;
    
}
.second-sectio img{
    width: 100%;
}
.anchor-section-2{
    text-decoration: none;
    background-image: linear-gradient(to bottom right,orange, red);
    padding: 14px 25px;
    text-align: center;
    border-radius: 10px;
    color: white;

}
.side-position{
    position: absolute;
    right: 1px;
    padding-right: 20px;
}
.short-color{
    color: olive;
}